[Unit]
Description=Archive snapshots of backups to cold storage
Requires=snapper-timeline.service
After=snapper-timeline.service

# double % here to escape systemd specifier parsing

[Service]
Type=oneshot
ExecCondition=bash -c "test $(date +%%H) = 00"
ExecStart=/usr/bin/archive-snapshots /media/auxiliary/backup /media/cold/backup

[Install]
WantedBy=snapper-timeline.service