[Unit]
Description=Sync working files to backup on auxiliary drive
Before=snapper-timeline.service

[Service]
Type=oneshot
User=kenny
ExecStart=/usr/bin/backup-server

[Install]
WantedBy=snapper-timeline.service